.main{
    background-color: #f3f4f6;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  /*  background-color: #f3f4f6; /* Matches the light blue background */
    padding: 2rem;
    border-radius: 8px;
    font-family: 'Brush Script MT', cursive;
}

.text-container h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text-container p {
    font-size: 2rem;
    color: #555;
}

.image-container img {
    max-width: 600px;
    height: auto;
}
.button-container {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    flex-wrap: wrap; 
    margin-top: 1rem;
    font-family: 'Brush Script MT', cursive;
}

.circular-button {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #4caf50;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.products{
    font-family: 'Brush Script MT', cursive;
    /*background-color: #f3f4f6; */
    font-size: 2.5rem;
}